<!DOCTYPE html>
<html>
    <head>
        <title>{{user}}'s Website</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <p>{{user}}'s Website</p>
        <br>
        <form action="greet" method="post">
            {%for message in get_flashed_messages()%}
                <p>{{message}}</p>
            {%endfor%}
            <br>
            <input type="text" name="name_input">
            <br>
            <p>"Favorite Game"</p>
            <br>
            <input type="text" name="game_name">
            <br>
            <input type="submit" value="GREET" id="greet">
        </form>
        <br>
    </body>
</html>